version: "3.1"

services:
  postgres:
    image: postgres:15
    container_name: nasa-apod-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: nasa_apod
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - airflow

volumes:
  postgres-data:
    driver: local

networks:
  airflow:
    external: true
